@font-face {
	font-family: Bebas_Neue;
	font-display: swap;
	src: url("../fonts/Bebas_Neue-Bold.woff2") format("woff2"), url("../fonts/Bebas_Neue-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Rubik;
	font-display: swap;
	src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
