// Заголовки, общие БЄМ блоки и проче...
.page {
   // .page__hero
   &__hero {
      margin-bottom: rem(80);
   }
   // .page__services
   &__services {
      @include adaptiveValue("margin-bottom", 160, 60);
   }
   // .page__info
   &__info {}
   // .page__about
   &__about {
      padding-bottom: rem(50);
      @media (max-width:$tablet) {
         display: none;
      }
   }
}

.bebas {
   font-family: $font-primary;
}
.rubik {
   font-family: $font-secondary;
}
.text {
   font-size: rem(18);
   line-height: math.div(27, 18);
}
.btn-reset {
   border: none;
   padding: 0;
   background: transparent;
   cursor: pointer;
}
